<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body class="bg-gray-50">

    <%- include('partials/nav') %>
    
    <div class="main-container">
        <div class="form-container">
            <h2>Create Room</h2>
            <form action="/create-room" method="POST">
                <div class="form-group">
                    <input type="text" name="url" class="form-input" placeholder="https://convowave.design.com">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-input" placeholder="Set Password">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
    
            <div style="margin-top: 2rem;">
                <p>Share Via</p>
                <div class="social-login">
                    <a href="#" class="btn btn-outline">Facebook</a>
                    <a href="#" class="btn btn-outline">WhatsApp</a>
                    <a href="#" class="btn btn-outline">Twitter</a>
                </div>
            </div>
        </div>
    </div>

    
<%- include('partials/footer') %>

</body>
</html>
